.out-of-box {
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%)
}

.container {

  @apply self-center max-w-screen-xl
}

.image-container {

  width: 100%;

  > div {
    position: unset !important;
  }

  .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}